# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Jobs\Full Time\EPICS Cause no JOB\Traffic Data Analysis\react_traffic_dashboard1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
